.Form{
    background-color: rgb(111, 255, 111);
    margin-top: 40px;
    margin-left: 60%;
    margin-right: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;;
}

.Preview{
    margin: 0;
    padding-top:0px;
    padding-bottom: 0px;
    height: 250px;
    width: 250px;
    border-style: inset;
}


.FormInput1{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.FormInput2{
    text-align: left;
    display: flex;
    flex-direction: column;
}


.FormInput3{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.CancelButton{
    float: left;
    padding: 10px;
    background-color:rgb(221, 58, 58);
    border-radius: 5px;
}

.CancelButton:hover{
     cursor: pointer;
      
}

.CancelButton:active{
    background-color: rgb(221, 58, 58);
    color: aliceblue;
}

.AddButton{
    float: right;
    padding: 10px;
    background-color:rgb(221, 58, 58);
    border-radius: 5px;
}

.AddButton:hover{
    cursor: pointer;
    
}

.AddButton:active{
    background-color: rgb(221, 58, 58);
    color: aliceblue;
}