.Header{
    background-color:rgb(180, 20, 20);
    height:50px;
    padding:5px;
    text-align: left;
    padding-left: 100px;
    color: aliceblue;
    display: flex;
    align-items: center;
}


.Image{
    padding:20px;
    height: 30px;
}